.minos {
	width: var(--sizeOfMino);
	height: var(--sizeOfMino);

	border-top: 1px solid white;
	border-left: 1px solid white;

	grid-row: calc(attr(data-y) - 2);
	grid-column: calc(attr(data-x));
}

.emptyMinos {
	background-color: #0b1013;
}

.iMinos {
	background-color: #348fca;
}

.oMinos {
	background-color: #e7bd22;
}

.sMinos {
	background-color: #2aa55d;
}

.zMinos {
	background-color: #da4b3c;
}

.jMinos {
	background-color: #246eab;
}

.lMinos {
	background-color: #dc7a23;
}

.tMinos {
	background-color: #824597;
}

.ghostMinos {
	background-color: #0b1013;
}
.ghostMinos {
	content: '';
	height: 50%;
	width: 50%;
	position: relative;
	top: 25%;
	left: 25%;
}

.iGhostMinos {
	background-color: #348fca;
}

.oGhostMinos {
	background-color: #e7bd22;
}

.sGhostMinos {
	background-color: #2aa55d;
}

.zGhostMinos {
	background-color: #da4b3c;
}

.jGhostMinos {
	background-color: #246eab;
}

.lGhostMinos {
	background-color: #dc7a23;
}

.tGhostMinos {
	background-color: #824597;
}

.displayers {
	display: grid;
	grid-template-columns: repeat(4, var(--sizeOfDisplayedMino));
	grid-template-rows: repeat(2, var(--sizeOfDisplayedMino));
}
.displayers .tiles {
	width: var(--sizeOfDisplayedMino);
	height: var(--sizeOfDisplayedMino);
}
