$sizeOfMino: 0px;
$sizeOfDisplayedMino: 0px;

@media (pointer: fine) {
	$sizeOfDisplayedMino: 20px;
	$sizeOfMino: 30px;
}

@media (pointer: coarse) {
	$sizeOfMino: 40px;
	$sizeOfDisplayedMino: 25px;
}

$color1: #f4f4f4;
$color2: #3197ee;
