@media (pointer: fine) {
	$sizeOfDisplayedMino: 20px;
	$sizeOfMino: 30px;

	#startButton {
		width: 420px;
		height: 100px;
	}
}

@media (pointer: coarse) {
	$sizeOfMino: 40px;
	$sizeOfDisplayedMino: 25px;

	#startButton {
		width: 400px;
		height: 90px;
	}
}
